*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent),url(Images/urmama.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 78px;
    cursor: pointer;
    padding-top: 17px;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color:#ffff;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffff;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.text-box{
    margin-bottom: 250px;
    margin-left: 250px;
    color: #ffff;
    position: absolute;
    bottom: 8%;
    
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    text-align: center;
}
.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #ffff;
    background: url(Images/strips.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    text-align: center;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.button a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    padding: 10px 50px;
    border-radius: 20px;
    margin-top: 400px;
    font-family: 'Courier New', Courier, monospace;
    
}
.button a:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1);
    transform: scale(1.1);
}



